@mixin font-face($name, $url, $format, $weight: normal, $style: normal) {
  @font-face {
    font-family: $name;
    src: $url format($format);
    font-weight: $weight;
    font-style: $style;
  }
}
