@use '../mixins/font-face' as *;

@include font-face('Lato', url('@/assets/fonts/Lato-Regular.ttf'), 'truetype', 400);
@include font-face('Lato', url('@/assets/fonts/Lato-Bold.ttf'), 'truetype', 700);
